.dropdown {
    display: none;
    display: block;
    position: absolute;
    left: var(--dropdown-left);
    top: var(--dropdown-top);
    height: auto;
    width: auto;
    background-color: #5D5C61;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    z-index: 999;
    border-radius: 12px;

    .table {
        height: 100%;
        width: auto;
        display: grid;
        grid-auto-rows: 50px;
        z-index: 999;

        .iconContainer {
            display: flex;
            width: 60px;
            height: 100%;
            align-items: center;
            justify-content: center;
            
        }
    }

    p {
        font-size: 25px;
        width: 100px;
        text-align: left;
    }

    .row {
        display: flex;
        max-height: 100%;
        max-width: 100%;
        padding: 0.4rem;
        padding-right: 0.6rem;
        align-items: center;
    }

    .row:hover {
        background-color: lightgray;
    }
}
  

  
  