.img-container {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: crosshair;

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 90%;
    }
}
.header {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    justify-content: center;
    border-top: #76323F 4px solid;
    border-bottom: #76323F 4px solid;
    height: 80px;
    color: #565656;

    h1 {
        flex: 0 1 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .smallImg {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        flex: 0 1 auto;
        margin-left: auto;
        width: 200px;
        height: 150px;

        img {
            max-width: 50%;
            max-height: 50%;  
        }
    }
}

.timer-container {
    display: inline-block;
    position: absolute;
    color: #565656;
}

footer {
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    border-top: #76323F 4px solid;
    border-bottom: #76323F 4px solid;
    height: 80px;
    background-color: white;
    a { color: inherit; };

    .credits {
        width: 50%;
        border-radius: 15px;
        text-decoration: none;
        color: inherit;
        position: relative;
        padding: 10px;
        background-color: #565656;

        &:before {
            position: absolute;
            border-radius: 15px;
            color: #565656;
            left: 0;
            bottom: 0;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: #ddd;
            transform-origin: 0 bottom 0;
            transform: scaleY(0);
            transition: .4s ease-out;
	}
	
	    &:hover {
            .art, .artist {
                color: #565656;
		    }
		    &:before {
			transform: scaleY(1);
		    }
	    }
    }

    .artist-link {
        margin-right: 25px;
        flex-grow: 1;
        cursor: pointer;
        color: white;
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 12px;
        text-decoration: none;
        font-size: 20px;
        font-weight: 700;
	    transition: .4s ease-out;
        background-color: #565656;
    }

    .artist-link:hover {
        background-color: #ddd;
        color: #565656;
    }

}

.art, .artist {
    position: relative;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.333;
	transition: .4s ease-out;
}