.highscore-container {
    
    .label-container {
        display: flex;
        justify-content: space-between;
        gap: 25px;

        .label {
            font-weight: 700;
            min-width: 50px;
        }

        .label-content {
            min-width: 100px;
        }

    }
}
