.highscore-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .label-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;

        .label {
            font-weight: 700;
            min-width: 50px;
        }

        .label-content {
            min-width: 100px;
        }

    }
}
