.alert-shown {
    opacity: 1;
    transition: all 250ms linear;
}
  
.alert-hidden {
    opacity: 0;
    transition: all 250ms linear 2s;
}

.message-container {
    display: flex;            
    justify-content: center;  
    align-items: center;
    position: absolute;
    margin: auto;
    position: absolute;
    z-index: 999;
    color: black;
    background-color: black;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100px;
    height: 50px;
}